<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mini.check">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Note Kasir"
        android:name="com.mini.check.NoteApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.mini.check.presentation.activity.MainActivity"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
    <!--xml yang berisi informasi mengenai aplikasi Seperti nama package,
    level SDK yang di gunakan, berserta icon dan nama yang di berikan untuk aplikasi.